<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Patient Sheduling", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div><div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Patient"))
                    {
                        <li>@Html.ActionLink("My Appointments", "AppointmentDetails", new { Controller = "Appointment", Action = "AppointmentDetails" })</li>
                        <li>@Html.ActionLink("Create Appointment", "Index", new { Controller = "Doctor", Action = "Index" })</li>
                    }
                    else if (User.IsInRole("Doctor"))
                    {
                        <li>@Html.ActionLink("Upcoming Appointments", "UpcomingAppointments", new { Controller = "Doctor", Action = "UpcomingAppointments", id = User.Identity.Name })</li>
                        <li>@Html.ActionLink("All Appointments", "History", new { Controller = "Doctor", Action = "History", id = User.Identity.Name })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Doctor Scheduling Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
